@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
*{
    margin: 0;
}
body {
  background-color: #e9e9e9;
}
.proj img {
  height: 50%;
  width: 50%;
}
.pic {
  height: 30%;
  width: 30%;
  border-radius: 50%;
  float: right;
  margin-right: 10%;
}
h1 {
  color: #311f33;
  font-size: 52px;
  font-family: "Source Code Pro", monospace;
}
h2 {
  color: #311f33;
  font-size: 35px;
  font-family: "Source Code Pro", monospace;
}
p {
  color: #311f33;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
}
li {
  color: #311f33;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.3;
}
.topnav {
  width: 100%;
  overflow: hidden;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(255, 76, 0, 1) 100%
  );
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  position: fixed;
}
.topnav a {
  color: #f2f2f2;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  float: right;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.topnav a:hover {
  background-color: #ddd;
  color: #36454f;
}
#about {
  width: 50%;
  padding-right: 10px;
  padding-left: 20px;
  line-height: 1.5;
}
.about_me p{
    padding-left: 20px;
    padding-top: 10px;
}
.skill li{
    padding-left: 20px;
    padding-top: 10px;
}
#arti_pic {
  height: 20%;
  width: 20%;
}
footer{
    background: rgb(2, 0, 36);
    background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(255, 76, 0, 1) 100%
    );
    height: 25%;
}
.footer h2{
    color:#f2f2f2;
    font-size: 25px;
}
.footer p{
    color:#f2f2f2;
    font-size: 20px;
}
